SF_CLIENT_ID=your_consumer_key_here
SF_CLIENT_SECRET=your_consumer_secret_here
SF_CALLBACK_URL=http://localhost:3000/oauth/callback
SF_LOGIN_URL=https://login.salesforce.com
SESSION_SECRET=some_long_random_string_you_type
PORT=3000
CLIENT_URL=http://localhost:5173
